.menu-bar {
    -fx-background-color: #0e0d0d, linear-gradient(to bottom, #585b5d 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #0f1010;
}


